# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
.next/
out/
build/

# Env
.env
.env.local
.env.ngrok
.env.*.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Prisma
apps/api/prisma/*.db

# Logs
*.log
npm-debug.log*
